*{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
}
.font-code{
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    width: fit-content;
    padding: 1em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    white-space: pre-line;    
}
.spacing{
    white-space:pre-wrap; 
}
.jumbotron{
    max-width: 880px;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    white-space: pre-line;  
    
}
img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 0px;
}
h3{
    margin-top: 20px;
    color: gray;
    font-weight: 700;
}
h1{
    font-weight: 700;
}
h4{
    background-color: rgba(22, 79, 165, 0.363);
    font-weight: 500;
    margin-top: 20px;
}
#flex{
    display: flex;
    flex-wrap: wrap;
}
button{
    margin: 10px;
    border: 0rem;
    background-color: rgba(22, 79, 165, 0.363);
    padding: 1em 3em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
#container-fluid{
    max-width:1444px;

}